/* General Styles */
body {
  position: relative;
}
/*Tabs Styles*/
#tabs,
#widget-tabs {
  z-index: 1;
  position: relative;
  margin-bottom: 50px;
}
.tab-list li {
  float: left;
  outline: none;
  margin: 0 !important;
}
.tab-list li:before {
  content: "";
}
.tab-list li.ui-tabs-active a {
  color: #333;
  background: #fff;
}
.tab-list a {
  font-size: 16px;
  font-weight: 600;
  padding: 16.5px 30px;
  border-radius: 0;
  outline: none;
}
.tab-list a:focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
.tab-list a:active:focus {
  outline: none;
  outline-offset: 0;
  box-shadow: none;
}
.tab-list a:before {
  content: "" !important;
}
.tab-content {
  display: none;
  margin-top: 30px;
}
.tab-content.current {
  display: block;
}
/*Site Banner*/
#site-banner {
  background: url("../img/concor.png") center no-repeat;
  padding: 150px 0px;
  position: relative;
  max-height: 400px;
  margin-bottom: 70px;
}
#site-banner:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
}
#site-banner h1 {
  color: #fff;
  margin: 0;
}
#site-banner .breadcrumb {
  background: none;
  color: #fff;
}
#site-banner .container {
  position: relative;
  z-index: 1;
}
#site-banner a {
  color: #fff;
}
#site-banner a:hover {
  color: #333;
}
#site-banner li {
  color: #fff;
}

/*Pagination Styles*/
#pagination {
  margin: 40px 0 10px -10px;
  padding: 0;
}
#pagination li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
}
#pagination a {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #333;
  background: #fff;
  padding: 10px 18px;
  display: inline-block;
}
#pagination a:hover {
  background: #6c98e1;
  color: #fff;
}
#pagination .disabled a {
  color: #b5b5b5;
  cursor: default;
  pointer-events: none;
}
/*breadcrumb Styles*/
.breadcrumb > li + li:before {
  content: "\f105";
  display: inline-block;
  margin-right: 2px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Contact Form*/
.contact-form {
  margin-bottom: 70px;
}
.contact-form h4 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.contact-form input[type="text"],
.contact-form textarea {
  border: 1px solid #e5e5e5;
  padding: 13px 10px 13px 35px;
  width: 100%;
  outline: none;
}
.contact-form .common {
  float: left;
  width: calc(50% - 10px);
  margin-right: 20px;
}
.contact-form .common:nth-of-type(even) {
  margin-right: -20px;
}
.contact-form .form-author:before {
  content: "\f007";
}
.contact-form .form-email:before {
  content: "\f0e0";
}
.contact-form .form-comment:before {
  content: "\f075";
}
.contact-form .form-submit:before {
  content: "";
}
.contact-form .form-phone:before {
  content: "\f095";
}
.contact-form .form-subject:before {
  content: "\f02d";
}
.contact-form p {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}
.contact-form p:before {
  content: "\f105";
  margin-right: 5px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #b5b5b5;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.contact-form label.error {
  display: none !important;
}
.contact-form input.error {
  border-color: red;
}
/*3d Btn Styles */
.btn-3d {
  position: relative;
  perspective: 800px;
  transition: background 0.6s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}
.btn-3d::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #427ad8;
  border-radius: inherit;
  color: inherit;
  content: attr(data-hover);
  transform: rotateX(270deg);
  transition: transform 0.6s;
  transform-origin: 0 0;
  pointer-events: none;
  padding: inherit;
  font: inherit;
}
.btn-3d:hover::before,
.btn-3d:focus::before {
  transform: rotateX(10deg);
}
#ajax-loader {
  display: none;
  margin-top: 8px;
  float: right;
}
#message-container,
#error-container {
  display: none;
  color: red;
}
.blog-single-page {
  background: #fff;
}
/*Filter Styles*/
#filter-container {
  position: relative;
}
#filter-container .mix {
  position: relative;
  transition-duration: 0s;
}
.controls {
  margin-left: -20px;
}
.controls span {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 30px;
}
.controls span:hover {
  color: #6c98e1;
}
.controls .mixitup-control-active {
  color: #6c98e1;
}
.layout-item-wrap,
.layout-item {
  transition-duration: 0.4s;
}
/* Header Styles */
#site-header {
  padding-bottom: 18px;
  background: #fff;
}
#site-header-top {
  background: #333;
  font-size: 12px;
  color: #919191;
  margin-bottom: 24px;
}
#site-header-top p {
  font-size: inherit;
  color: inherit;
  line-height: 30px;
  margin: 9px 0 6px 0;
}
#site-header-top .fa {
  margin-right: 4px;
  font-size: 15px;
  vertical-align: middle;
}
#site-header-top select {
  outline: none;
}
.currency-in-header,
.language-in-header,
.header-btn {
  float: right;
}
.currency-in-header,
.language-in-header {
  margin: 14px 0 6px 20px;
}
.currency-in-header select,
.language-in-header select {
  border: none;
  outline: none;
  background-image: url("/img/arrow.png");
}
.header-btn {
  font: 600 12px 'Montserrat', sans-serif;
  margin-left: 20px;
  border-radius: 0;
}
#site-nav {
  text-transform: uppercase;
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  margin-left: -45px;
}
#site-nav li {
  list-style: none;
}
#site-nav li:hover > a {
  color: #6c98e1;
}
#site-nav a {
  color: inherit;
  display: block;
}
#site-nav a:hover {
  color: #6c98e1;
}
#site-nav .nav > li {
  margin-left: 35px;
}
#site-nav .nav > li > a {
  padding: 10px 0;
}
#site-nav li {
  position: relative;
}
#site-nav li ul {
  position: absolute;
  left: 170px;
  top: -6px;
  display: none;
  min-width: 200px;
  background: #fff;
  padding: 10px 15px;
  z-index: 99;
}
#site-nav li ul li {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 7px;
  margin-bottom: 7px;
}
#site-nav li ul li:last-child {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}
#site-nav > ul > li > ul {
  left: 0;
  top: 40px;
  padding-top: 30px;
}
.contact-in-header {
  border-left: 1px solid #dfdfdf;
  margin-left: 30px;
  padding-left: 27px;
}
.contact-in-header .fa {
  font-size: 61px;
  color: #6c98e1;
  float: left;
  margin-right: 15px;
  line-height: 51px;
}
.contact-in-header span {
  color: #999999;
}
.contact-in-header strong {
  font-size: 21px;
  color: #6c98e1;
}
/* Main Slider Styles */
.main-slider-wrapper {
  position: relative;
}
.main-slider-wrapper #slider-contents {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.main-slider-wrapper .jumbotron {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  background: none;
  padding: 0;
  margin: auto;
  margin-top: -123px;
}
.main-slider-wrapper h1 {
  color: #fff;
  font-size: 60px;
  margin: 0 0 14px 0;
}
.main-slider-wrapper p {
  font-size: 17px;
  color: #fff;
}
.main-slider-wrapper .contents {
  margin-bottom: 45px;
}
.main-slider-wrapper .btn {
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.main-slider-wrapper .btn-border {
  background: none;
  border: 2px solid #fff;
  padding: 13px 18px;
}
.main-slider-wrapper .btn-border:hover {
  background: #fff;
  color: #333;
}
.main-slider-wrapper .btn-warning.btn-3d::before {
  background: #ec8b1b;
}
#advance-search {
  position: relative;
  padding-bottom: 35px;
  z-index: 99;
  background: #fff;
}
#advance-search fieldset {
  width: 85%;
  float: left;
}
#advance-search .top-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 16.5px 30px;
  border-radius: 0;
  margin-top: -85px;
  color: #333;
  background: #fff;
}
#adv-search-form {
  margin-top: 30px;
}
#adv-search-form select,
#adv-search-form input {
  width: 23%;
  height: 50px;
  margin-right: 2%;
  float: left;
  margin-bottom: 15px;
  border: 1px solid #dfdfdf;
  padding: 9px;
  outline: none;
}
#adv-search-form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: inherit;
  opacity: 1;
}
#adv-search-form input::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit;
  opacity: 1;
}
#adv-search-form input:-ms-input-placeholder {
  /* IE 10+ */
  color: inherit;
  opacity: 1;
}
#adv-search-form input:-moz-placeholder {
  /* Firefox 18- */
  color: inherit;
  opacity: 1;
}
#adv-search-form .btn[type="submit"] {
  width: 15%;
  float: left;
  padding: 32px 15px;
  font-weight: 600;
}

#adv-search-form .btn[type="submit"] {
  width: 15%;
  float: left;
  padding: 32px 15px;
  font-weight: 600;
}


.widget-post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.widget-post:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.widget-post p.entry-title {
  margin: 0;
}
.widget-post p.entry-title a {
  color: #333;
}
.widget-post p.entry-title a:hover {
  color: #6c98e1;
}
/*Categories Widget Styles*/
.widget_categories li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #999;
  font-size: 13px;
}
.widget_categories li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
.widget_categories li::before {
  content: "\f0da" !important;
  color: #333;
}
.widget_categories a {
  color: #333;
  font-size: inherit;
}
.widget_categories a:hover {
  color: #6c98e1;
}
